{% extends 'base/base.html' %}  
{% load static %}
  <!-- Left side column. contains the logo and sidebar -->
{% block title %}User{% endblock title %}
  
{% block content %}



<div class="content-wrapper"  id="dashboard">

    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Add User</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-6">
                    <form action="/action_page.php" id="add-form">
                        <div class="form-group">
                          <label for="email">First name</label>
                          <input type="text" class="form-control" placeholder="Savannah">
                        </div>
                        <div class="form-group">
                            <label for="email">Last name</label>
                            <input type="text" class="form-control" placeholder="Nguyen">
                        </div>
                        <div class="form-group">
                            <label for="email">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                        <div class="form-group">
                            <label for="email">Country (Sending From)</label>
                            <input type="text" class="form-control" placeholder="United States of America">
                        </div>
                        <div class="form-group">
                            <label for="email">Country (Sending To)</label>
                            <input type="text" class="form-control" placeholder="United Kingdom">
                        </div>
                        <button type="submit" class="btn btn-add">Add</button>
                      </form>
                </div>
                <div class="col-md-6">
                    <img src="/static/assets/dist/img/detail.png">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>


  {% endblock content%}
  {% block script%}
  {% include 'base/script.html' %}
  {% endblock script%}