<!--================ Start Alert Message Area =================-->

{% if messages %}
{% for message in messages %}
<div id="message" class="container">
   <div style="color: green;" class="alert alert-success alert-dismissible text-center" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
</div>
{% endfor %}
{% endif %}
{% if error %}
<div id="message" class="container">
   <div style="color: red;" class="alert alert-danger alert-dismissible text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"> &times;</span> </button>
      {{ error }}
   </div>
</div>
{% endif %}

<!--================ End Alert Message Area =================-->

