{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>SimpliSend</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/dist/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<style>
.login,
.image { min-height: 100vh;}
p.wlc{font-family: 'Inter', sans-serif;}
h3.wlc1{font-family: 'Inter', sans-serif;color: #161F4C;font-weight: 600; font-size: 32px; line-height: 39px;}
label{font-family: 'Outfit', sans-serif;}
button{font-family: 'Outfit', sans-serif;}
p.new-txt{font-family: 'Outfit', sans-serif;}
input::placeholder{font-family: 'Outfit', sans-serif;}
.input-group-text{background: #F5F6FF; border-radius: 0px 8px 8px 0px; border:0px;}
.bg-image { background-image: url('/static/assets/dist/img/Rectangle\ 4244.png'); background-size: cover; background-position: center center;}
.login-sec{background: #FFFFFF; box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05); border-radius: 20px;margin: 50px;}
.login-sec p{font-size: 16px;line-height: 22px;letter-spacing: 0.03em; color: rgba(18, 18, 18, 0.6);}
.login-sec label{font-weight: 600; font-size: 16px; line-height: 22px; letter-spacing: 0.002em; color: #161F4C;opacity: 0.8;}
.login-sec input{background: #F5F6FF !important; border-radius: 8px 0px 0px 8px !important; box-shadow: 0px !important;}
.login-sec button{background: #283593;border-radius: 8px !important;color: #fff; border: 0px;}
</style>
</head>
<body>
    {% include 'loginUser/alert.html' %}

    <div class="container-fluid">
        <div class="row no-gutter">
    
    
            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
    
                    <!-- Demo content-->
                    <div class="container">
                        <div class="login-sec">
                            <div class="row">
                                
                                <div class="col-lg-10 col-xl-10 m-4">
                                    <h3 class="display-4 mb-1 wlc1">Forget password</h3>
                                    <p class="text-muted mb-4 wlc">Please enter the email associated with your account and click 'Send Email Link' to receive an email containing a link to reset this account's password.</p>

                                    <form action="{% url 'admin-forget-password' %}" method="post">
                                        {% csrf_token%}
                                        <div class="form-group mb-3">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <input id="inputEmail"  name="email" type="email" placeholder="************" required="" autofocus="" class="form-control border-0 pr-4">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/Message_light.png"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block mt-4 mb-2 rounded-pill shadow-sm" href="reset-password.html">Send email link</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- End -->
    
                </div>
            </div><!-- End -->
            
            
            <!-- The image half -->
            <div class="col-md-6 bg-light">
                <img src="/static/assets/dist/img/Forgot password-pana 1.png">
            </div>
        </div>
    </div>
    

</body>
</html>
