{% extends 'base/base.html' %}  
{% load static %}
  <!-- Left side column. contains the logo and sidebar -->
{% block title %}User{% endblock title %}
  
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  id="dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{alluser}}<sup style="font-size: 20px">+</sup></h3>

              <p>Total User Registration</p>
            </div>
            <div class="icon">
              <img src="/static/assets/dist/img/Group 34823.png">
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>$100<sup style="font-size: 20px">+</sup></h3>

              <p>Amount of Transaction</p>
            </div>
            <div class="icon">
              <img src="/static/assets/dist/img/Group 34823 (1).png">
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>20<sup style="font-size: 20px">+</sup></h3>

              <p>Total Ticket Raised</p>
            </div>
            <div class="icon">
              <img src="/static/assets/dist/img/Group 35592.png">
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">User Management  </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tr>
              <th>Sr No.</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Country (From)</th>
              <th>Country (To)</th>
              <th style="text-align: center;">Actions</th>
            </tr>
            {% for single in alldata %}

            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                {%if single.profileImage%}<img src="{{single.profileImage}}" style=border-radius:50%; width="35px" height="35px">{%else%} <img width="35px" height="35px" src="/static/assets/dist/img/Group 34823.png">{%endif%} {{ single.firstName|capfirst }}</td>
              <td>{{ single.email }}</td>
              <td>{{ single.mobileNo }}</td>
              <td>{{ single.fromCountryId.countryName }}</td>
              <td>{{ single.toCountryUserId_ref.all.0.countryId.countryName }}</td>
              <td style="text-align: center;">
                <span>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </span>
                <span><a href=""><img src="/static/assets/dist/img/edit.png" style="margin-right: 10px;"></a></span>
                <span><a href=""><img src="/static/assets/dist/img/delete.png" style="margin-right: 10px;"></a></span>
                <span><a href="">View Details</a></span>
              </td>
            </tr>
            {% endfor %}

            {% comment %} <tr>
              <td>2.</td>
              <td><img src="/static/assets/dist/img/profile.png"> Brooklyn Simmons</td>
              <td>jessica.chambers@example.com</td>
              <td>(480) 555-0103</td>
              <td>USA</td>
              <td>USA</td>
              <td style="text-align: center;">
                <span>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </span>
                <span><a href="edit-user.html"><img src="/static/assets/dist/img/edit.png" style="margin-right: 10px;"></a></span>
                <span><a href=""><img src="/static/assets/dist/img/delete.png" style="margin-right: 10px;"></a></span>
                <span><a href="view-user.html">View Details</a></span>
              </td>
            </tr> {% endcomment %}
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
</div>
{% endblock content%}
{% block script%}
{% include 'base/script.html' %}
{% endblock script%}