{% extends 'base/base.html' %}  
{% load static %}
  <!-- Left side column. contains the logo and sidebar -->
{% block title %}User{% endblock title %}
  
{% block content %}
  

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper"  id="dashboard">

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body no-padding">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-6">
                  <h3>Profile settings</h3>
                  <p>Change your basic account settings here. </p>
                  <div class="profile-img-section">
                    {%if user.profileImage%}<img src="{{user.profileImage}}" height="128px" width="128px" style=border-radius:50%;>{%else%} <img width="128px" height="128px" src="/static/assets/dist/img/Group 34823.png">{%endif%} 
                  
                      {% comment %} <a href="#"><img src="/static/assets/dist/img/Group 1000002970.png"></a> {% endcomment %}
                  </div>
                  <form method="post" id="add-form" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="email">Upload New Image</label>
                          <input type="file" name="image" class="form-control">
                          <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/User_light.png"></span>
                          </div>
                          <label for="email">Name</label>
                          <input type="text" name="firstName" class="form-control" value="{{user.firstName}}">
                          <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/User_light.png"></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" name="email" class="form-control" value="{{user.email}}">
                          <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/Message_light.png"></span>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-add">save changes</button>
                    </form>
              </div>
          </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</div>

{% endblock content%}
{% block script%}
{% include 'base/script.html' %}
{% endblock script%}
