{% extends 'base/base.html' %}  
{% load static %}
  <!-- Left side column. contains the logo and sidebar -->
{% block title %}User{% endblock title %}
  
{% block content %}
 
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper"  id="dashboard">

    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <h3 style="margin-top: 35px;">Reset password</h3>
                    <p>Please enter the strong password to make your payment secure.</p>
                    <form method="post" id="add-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Old Password</label>
                            <input type="password" name="old-password" class="form-control" placeholder="************">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/Lock_light.png"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">New Password</label>
                            <input type="password" name="password1" class="form-control" placeholder="************">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/Lock_light.png"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Confirm Password</label>
                            <input type="password" name="password2" class="form-control" placeholder="************">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><img src="/static/assets/dist/img/Lock_light.png"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-add" style="margin-top: 50px;">save changes</button>
                      </form>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>

{% endblock content%}
{% block script%}
{% include 'base/script.html' %}
{% endblock script%}