{% extends 'base/base.html' %}  
{% load static %}
  <!-- Left side column. contains the logo and sidebar -->
{% block title %}User{% endblock title %}
  
{% block content %}

  
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  id="dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Management
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Management</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
          <div class="box-header">
              <h3 class="box-title"><a href="/add-user" class="add-btn"><img src="/static/assets//dist/img/add.png"> Add User </a></h3>
              <span style="float: right;margin-top:7px;"><a href=""><img src="/static/assets/dist/img/reset.png"></a></span>
              <span class="sort-section"> 
                  <select name="car" id="car">
                      <option value="volvo">Filter </option>
                      <option value="saab">Block</option>
                      <option value="mercedes">Unblock</option>
                  </select>
              </span>
              <span class="sort-section">
                  <select name="cars" id="cars" onchange="myfunc()">
                    {% comment %} <option value="option1" selected disabled>{% if input %} {{input}} {% else %} Filter By Date{% endif%}</option> {% endcomment %}
                      {% comment %} <option value="Sort">Sort</option> {% endcomment %}
                      <option value="Today">Today </option>
                      <option value="Weekly">Weekly</option>
                      <option value="Monthly">Monthly</option>
                  </select>
              </span>
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search User" title="Type in a name"> 
          </div>
          <!-- /.box-header -->
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tr>
              <th>Sr No.</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Country (From)</th>
              <th>Country (To)</th>
              <th style="text-align: center;">Actions</th>
            </tr>
            {% for single in alldata %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                
               {%if single.profileImage%}<img src="{{single.profileImage}}" style=border-radius:50%; width="35px" height="35px" >{%else%} <img width="35px" height="35px" src="/static/assets/dist/img/Group 34823.png">{%endif%} {{ single.firstName|capfirst }}</td>
              <td>{{ single.email }}</td>
              <td>{{ single.mobileNo }}</td>
              <td>{{ single.fromCountryId.countryName }}</td>
              <td>{{ single.toCountryUserId_ref.all.0.countryId.countryName }}</td>
              <td style="text-align: center;">
                <span>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </span>
                <span><a href=""><img src="/static/assets/dist/img/edit.png" style="margin-right: 10px;"></a></span>
                <span><a href=""><img src="/static/assets/dist/img/delete.png" style="margin-right: 10px;"></a></span>
                <span><a href="">View Details</a></span>
              </td>
            </tr>
            {% empty %}
            "NO data available"
            {% endfor %}
            {% comment %} <tr>
              <td>2.</td>
              <td><img src="./dist/img/profile.png"> Brooklyn Simmons</td>
              <td>jessica.chambers@example.com</td>
              <td>(480) 555-0103</td>
              <td>USA</td>
              <td>USA</td>
              <td style="text-align: center;">
                <span>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </span>
                <span><a href="edit-user.html"><img src="./dist/img/edit.png" style="margin-right: 10px;"></a></span>
                <span><a href=""><img src="./dist/img/delete.png" style="margin-right: 10px;"></a></span>
                <span><a href="view-user.html">View Details</a></span>
              </td>
            </tr> {% endcomment %}
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
</div>
<!-- ./wrapper -->

{% comment %} <form name="filter-form1" action="{% url 'filter-date' %}" id="type_id_form2" method="POST">
  {% csrf_token%}
    <input type="hidden" name="filter_type_id2" id="filter_val_status2">
</form> {% endcomment %}

<!-- jQuery 3 -->
{% endblock content%}
{% block script%}
{% include 'base/script.html' %}
{% comment %} <script>
  $(document).ready(function(){

//hides dropdown content
$(".size_chart").hide();

//unhides first option content
$("#option1").show();

//listen to dropdown for change
$("#new_select").change(function(){
  //rehide content on change
  $('.size_chart').hide();
  //unhides current item
  $('#'+$(this).val()).show();
});
});
</script>

<script type="text/javascript">
function myfunc() {
  var x = document.getElementById("cars").value;
  document.getElementById("filter_val_status2").value = x;
  document.getElementById("type_id_form2").submit();
}
</script> {% endcomment %}
{% endblock script%}
