<header class="main-header">
  <!-- Logo -->
  <a href="index.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="/static/assets/dist/img/logo.png"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="/static/assets/dist/img/logo.png"></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 5px; padding-bottom: 5px;">
            <img src="/static/assets/dist/img/notification.png">
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                    page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user text-red"></i> You changed your username
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {%if user.profileImage%}<img src="{{user.profileImage}}" class="user-image" alt="User Image">{%else%} <img width="35px" height="35px" src="/static/assets/dist/img/Group 34823.png">{%endif%}
            <span class="hidden-xs">{{user.firstName|capfirst}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <div class="row">
                <div class="col-md-2">
                  {%if user.profileImage%}<img src="{{user.profileImage}}" class="user-image" alt="User Image">{%else%} <img width="35px" height="35px" src="/static/assets/dist/img/Group 34823.png">{%endif%}
                </div>
                <div class="col-md-10">
                  <p>{{user.firstName|capfirst}} <br><span>{{user.email}}</span></p>
                </div>
              </div>
              <hr style="border-top: 1px solid #161F4C;margin-left: -11px; opacity: 0.2;">
              <div class="row" id="New1">
                <div class="col-md-12" style=" margin-bottom: 20px;">
                  <a href="/profile"><img src="/static/assets/dist/img/Setting_alt_line_light.png"> <span>Profile Settings</span></a>
                </div>
                <div class="col-md-12" style=" margin-bottom: 20px;">
                  <a href="/change-password"><img src="/static/assets/dist/img/Lock_light.png"> <span>Reset password</span></a>
                </div>
                <div class="col-md-12">
                  <a href="/admin-logout" style="color:#E44E52"><img src="/static/assets/dist/img/On_button_light.png"> <span>Logout</span></a>
                </div>
              </div>
            </li>
            <!-- Menu Body -->
            <!--<li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
            </li>-->
            <!-- Menu Footer-->
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>