<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class={{a}}>
        <a href="/admin-dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class={{b}}>
        <a href="/user-management">
          <i class="fa fa-user"></i> <span>User Management</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>